{% extends "master.html" %}
{% load static %}
{% block child %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>Register</h1>
			<form class="form-horizontal" id="process_registration" action="{% url 'register:index' %}" method="post" role="form" enctype="multipart/form-data">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				<fieldset>
					<legend>Required: User info</legend>
					<div>
					{% for field in form %}
						<div class="form-group">
							{{ field.label_tag }}
							{{ field }}
							{{ field.errors }}
						</div>
					{% endfor %}
					</div>
				<fieldset>
					<legend class="optional_fields">Optional: Company info</legend>
					<div class="hidden">
					{% for field in cform %}
						<div class="form-group">
							{{ field.label_tag }}
							{{ field }}
							{{ field.errors }}
						</div>
					{% endfor %}
					</div>
				</fieldset>
				</fieldset>
				<input type="submit" class="btn btn-primary" value="Submit" />
			</form>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock child %}
